node_modules/
.next/
out/
coverage/
*.log
.env
.env.local
.env.*.local
!.env.example
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
.DS_Store
**/android/key.properties
**/android/local.properties
*.jks
*.keystore
